pip==21.0.1
Django
django-background-task==0.1.8
django-background-tasks==1.2.5
django-compat==1.0.15
django-cors-headers==3.7.0
Pillow
django-heroku
dj_database_url
gunicorn
psycopg2
psycopg2-binary
pyrebase
firebase_admin